// place your custom styles here
#main-title {
    font-size: 35px;
    text-align: center; /* Centra el texto horizontalmente dentro del elemento */
    padding-top: 40px;
}

#main-description {
    font-size: 25px;
    text-align: center; /* Centra el texto horizontalmente dentro del elemento */
}

.vp-hero-image {
    display: ruby-base;
    max-width: 38vw;
    max-height: 18rem;
    margin: 1rem;
    // padding: 10px 20px;
    // border: none;
    // font-size: 17px;
    // color: #fff;
    // border-radius: 7px;
    // letter-spacing: 4px;
    // font-weight: 700;
    // text-transform: uppercase;
    // transition: 0.5s;
    // transition-property: box-shadow;
}

.vp-hero-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px;
    transition: transform 0.25s ease-in-out 0.12s, opacity 0.25s ease-in-out 0.12s;
    transform: translateY(0px);
    opacity: 1;
}
.vp-hero-infos {
    z-index: 1;
    margin: 0 0.5rem;
    width: 62vw;
}
.vp-navbar-center {
    margin-inline-end: 0 !important;
    gap: 15px;
}
.search-box input{
    width: 15vw;
}

// .vp-hero-image {
//     background: rgb(0,140,255);
//     box-shadow: 0 0 1px rgb(0,140,255);
//   }

.vp-hero-image:hover {
    filter: drop-shadow(0 0 10px rgb(0,140,255));
}