# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages
# This file was contributed by Edwin Betancourt, EdwinBetanc0urt@outlook.com

name: Publish Project

on:
  release:
    types:
      - created
      - edited

jobs:

  # Build dist application ADempiere-Site
  build-pages:
    name: Build dist ADempiere-Site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Blog
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm run build:vite

      - name: Upload dist files
        uses: actions/upload-artifact@v3
        with:
          name: adempiere-site
          path: dist


  # Publish dist binaries to page
  publish-app-dist:
    name: Upload ADempiere-Site binaries
    # TODO: Does not support edit release: {"resource":"Release","code":"already_exists","field":"tag_name"}
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
    needs:
      - build-pages
    runs-on: ubuntu-latest
    steps:
      - name: Download build dist app
        uses: actions/download-artifact@v3
        with:
          name: adempiere-site

      - name: Compress files for application dist
        uses: TheDoctor0/zip-release@0.6.2
        with:
          filename: 'Adempiere-Site.zip'
          path: './'

      - name: Create checksum sha256 file
        run: sha512sum Adempiere-Site.zip > Adempiere-Site.zip.sha512

      - name: Publish application binary in repository
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'Adempiere-Site.zip'

      - name: Publish checksum of file
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'Adempiere-Site.zip.sha512'


  # Check secrets to push image in docker hub registry
  check-docker-secrets:
    name: Check if docker hub registry information was set on secrets
    needs:
      - build-pages
    runs-on: ubuntu-latest
    outputs:
      is_have_secrets: ${{ steps.check_secret_job.outputs.is_have_secrets }}
    steps:
      - id: check_secret_job
        run: |
          if [[ "${{ secrets.DOCKERHUB_ORG }}" != "" && \
                "${{ secrets.DOCKERHUB_USERNAME }}" != "" && \
                "${{ secrets.DOCKERHUB_TOKEN }}" != "" ]]; \
          then
            echo "Secrets to use a container registry are configured in the repo"
            echo "is_have_secrets=true" >> $GITHUB_OUTPUT
          else
            echo "Secrets to use a container registry were not configured in the repo"
            echo "is_have_secrets=false" >> $GITHUB_OUTPUT
          fi

  # Publish docker alpine image in Docker Hub registry to application
  push-alpine-imame-dhr:
    name: Push docker alpine image to Docker Hub
    needs:
      - check-docker-secrets
    # Skip step based on secret
    if: needs.check-docker-secrets.outputs.is_have_secrets == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Download build dist app
        uses: actions/download-artifact@v3
        with:
          name: adempiere-site
          path: dist

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          # CONFIGURE DOCKER SECRETS INTO REPOSITORY
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker Image Alpine
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          file: ./build-docker/production-alpine.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_ORG }}:alpine
            ${{ secrets.DOCKERHUB_ORG }}:alpine-${{ github.event.release.tag_name }}

  # Publish docker image in Docker Hub registry to application
  push-imame-dhr:
    name: Push docker image to Docker Hub
    needs:
      - check-docker-secrets
    # Skip step based on secret
    if: needs.check-docker-secrets.outputs.is_have_secrets == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Download build dist app
        uses: actions/download-artifact@v3
        with:
          name: adempiere-site
          path: dist

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          # CONFIGURE DOCKER SECRETS INTO REPOSITORY
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4.0.0
        with:
          context: .
          file: ./build-docker/production.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_ORG }}:latest
            ${{ secrets.DOCKERHUB_ORG }}:${{ github.event.release.tag_name }}
